<br/>
<h2>&nbsp;&nbsp;<%= @header %></h2>
<br/>
<% if @products.size == 0 %>
	
	<div style="padding:15px;">
		<p>
		We apologise that there are no search results available at this time. Please feel free to submit an obligation free product quotation request or contact us by phone or email and we will endeavour to assist you as soon as possible.	
		</p>
	<h3>Submit Product Quotation Request</h3>
	<% form_tag(:action=> "contact_us",:controller=>'go') do %>
	<table>
		<tr>
	    <td>Contact Name:</td><td> <%= text_field("contact","name", "size"=>"20")%></td>
		</tr>
		<tr>
	    <td>Email:</td><td><%= text_field("contact","email","size"=>"20")%></td>
	  	</tr>
		<tr>
	    <td>Phone:</td><td><%= text_field("contact","phone","size"=>"20")%> (optional)</td>
	  	</tr>
		<tr>
	    <td>Note:</td><td><%= text_area("contact","note")%></td>
	  	</tr>
	</table>
	    <%= submit_tag "Send"%>
	<% end %>
	
	<br/>
	<%= link_to("Contact Us", :action=> "contact_us",:controller=>'go')%>
	
	</div>
	
<% else %>

<% if @products.size > 2 %>

<% end_number = @products.size + (@current_page_number.to_i - 1) * 10 %>
<% start_number = end_number - (@products.size - 1) %>

<div class = "hr_div" > <%= Product.count %> listings, showing <%= start_number %> to <%= end_number %>
	(Sort by: 
	<%= link_to("Latest listings",:action=>'index',:sort=>'latest')%> | 
	<%= link_to("Lowest price",:action=>'index',:sort=>'lprice')%> | 
	<%= link_to("Highest price",:action=>'index',:sort=>'hprice')%> | 
	<%= link_to("Title",:action=>'index',:sort=>'title')%>
	)
</div>
<% end %>

<table width="100%">
<% i = 1 %>
<tr>


<% for p in @products %>
	<td width="25%" valign="top" align="center">
		<br/>
	  <%= show_product_image(p, "medium") %> <br/>
	<%=link_to p.title, :action=>'product',:id=>p %> <br/>
	<%= show_price(p, @account) %> 
	
	<br/>
	</td>
	<% if i%4 == 0 %>	
		</tr>
		<tr>	
	<% end %>
	
	<% i = i + 1 %>
<% end %>
<td></td><td></td><td></td><td></td>
</tr>
</table>

	<h3><%= will_paginate(@products)%></h3>

<% end %>