
<%= error_messages_for 'account' %>

<!--[form:account]-->
<fieldset><legend><strong>Direct Buyer</strong> Account Information</legend>
	<p><label for="account_username"><strong>Username * </strong></label> <br/>
	<%= text_field 'account', 'username' , "size"=>12 %> 
	(Any combination of letters or numbers without spaces, from 3 up to 18 digits and/or letters)
	</p>
	<p><label for="account_username2"><strong>Re-enter Username *</strong></label><br/>
	<%= text_field 'account', 'username_confirmation', "size"=>12%></p>
	
	
	<p><label for="account_password"><strong>Password *</strong></label><br/>
	<%= text_field 'account', 'password' , "size"=>12 %></p>
	
	<p><label for="account_password2"><strong>Re-enter Password *</strong></label><br/>
	<%= password_field 'account', 'password_confirmation', "size"=>12%></p>
	
	
	<p><label for="account_business_address"><strong>Address *</strong></label><br/>
	<%= text_area 'account', 'business_address',"cols"=>45, "rows"=>3 %></p>

	<p><label for="account_shipping_address"><strong>Shipping Address (if different from address above)</strong></label><br/>
	<%= text_area 'account', 'shipping_address' ,"cols"=>45, "rows"=>3 %></p>
	
	<p><label for="account_postcode"><strong>Post Code *</strong></label><br/>
	<%= text_field 'account', 'postcode'  %> 
	<a href="http://www.nzpost.co.nz/Cultures/en-NZ/OnlineTools/PostCodeFinder/" target="_blank">PostCode Finder</a></p>
	
	<p><label for="account_contact_name"><strong>Contact Name *</strong></label><br/>
	<%= text_field 'account', 'contact_name'  %></p>

	<p><label for="account_phone"><strong>Telephone Phone *</strong></label><br/>
	<%= text_field 'account', 'phone'  %> (Please include area code, e.g., 07-1231234)</p>

	<p><label for="account_cellphone"><strong>Mobile Phone</strong></label><br/>
	<%= text_field 'account', 'cellphone'  %></p>
	
	<p><label for="account_email"><strong>Email *</strong></label><br/>
	<%= text_field 'account', 'email'  %></p>
	

	<p><label for="account_country"><strong>Country *</strong></label><br/>
	<%= text_field 'account', 'country'  %></p>
	
	<p><strong>Tick if you would like to receive special offers</strong>
	<%= check_box("account", "special_offers" , {}, "1", "0") %></p>
	
	<p style="color:green;"><strong>I agree with the terms and conditions (<%= link_to "Terms and Conditions", {:action=>'terms_conditions', :controller=>'go'}, :target=>'_blank'%>)</strong>
	<%= check_box("account", "agree_terms" , {}, "1", "0") %></p>
	
	
</fieldset>	


<!--[eoform:account]-->

