
<style>
  ul#split,ul#split li{margin:0;padding:0;list-style:none}
  ul#split li{margin:5px 5px 5px 5px}
  ul#split h3{font: bold 120%/1.3 Arial,sans-serif;margin:0px;padding:5px 0 0;text-align:center;color: #000}
  ul#split p{margin:0;padding:5px 8px 15px}
  li#one h3{background: #CDEB8B}
  ul#split div{background: #FFC}
  li#one div{border:2px solid #CDEB8B; padding: 5px}
  li#two h3{background: #FFBD00}
  li#two div{border:2px solid #FFBD00;padding: 5px}
  li#three h3{background: #E3A1C4}
  li#three div{border:2px solid #E3A1C4;padding: 5px}
  li#four h3{background: #C8C866}
  li#four div{border:2px solid #C8C866;padding: 5px}

</style>

<h2>Editing Image</h2>

<ul id="split">
  
  <li id="one"><h3>Image(s) for <%= @product.title %></h3>
    <div>
      
<table>
	
	<tr>
		<th>Image</th>
		<th></th>
	</tr>
	
	<% for img in @product.images %>
	<tr>
		<td>
	<%= image_tag(url_for_file_column(img, "image", "medium"),:alt=>"Click to view large picture",:style=>"border:solid 1px #cccccc;") %>
		</td>
		<td>
	<%= link_to image_tag("/images/trash.gif"), { :action => 'delete_image', :id => img }, :confirm => 'Are you sure to remove this image?', :method => :post %>
		</td>
	</tr>
	<% end %>
</table>
 </div>
  </li>
</ul>
<ul id="split">
  
  <li id="one"><h3>Adding Image</h3>
    <div>
<p>
<% form_tag( { :action => 'add_image', :pid=>@product.id }, :multipart => true ) do %> 
		<%= file_column_field "productimage", "image" %>
		<%= submit_tag "Upload" %> 
<% end %>
</p>

<p>
<br/>
</p>

    </div>
  </li>
</ul>

<p>
	<%= link_to 'Back to Product Manager', :action => 'list' %>
</p>	

<script type="text/javascript">
  
    Nifty("ul#split h3","top");
    Nifty("ul#split div","none");
  
    </script>

  <br/>


